.venv/*
.mypy_cache/*
.env
IMDB_data_set/*
__pycache__/*
__pycache__/
.VSCodeCounter
*/__pycache__
.env.tests
.scenario-4-auth-state.json
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

scenario-4-auth-state.json

Accept
Authorization
Content-Type
GET
Host
User-Agent