SUPABASE_DB_HOST="aws-1-eu-north-1.pooler.supabase.com"
SUPABASE_DB_PORT="6543"
SUPABASE_DB_PASSWORD="*****"
SUPABASE_DB_USER="*****"

SUPABASE_URL="*****"
SUPABASE_ANON_KEY="*****"
SUPABASE_SERVICE_ROLE_KEY=*****

TEST_USER=*****

SECRET_KEY="*****"

GEMINI_API_KEY=*****
WATCHMODE_API_KEY=*****

CACHE_URL=redis://localhost:6379/1